@import "tailwindcss";


/* styles.css */
.scrollbar-custom::-webkit-scrollbar {
    @apply w-2
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-xl;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply opacity-50;
  }


  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #0f172a inset; /* matches bg-slate-900 */
    -webkit-text-fill-color: #f8fafc;         /* matches text-slate-100 */
    caret-color: #f8fafc;                     /* match the text color for dark bg */
    transition: background-color 9999s ease-in-out 0s;
  }
  
  


